﻿@model CustomerManagment.Web.MVC.Models.ModalFooter

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Model.CancelButtonText</button>
    <button type="submit" class="btn btn-primary">@Model.SubmitButtonText</button>
</div>
