﻿@model DeleteCustomerViewModel
@using CustomerManagment.Web.MVC.Models

<form action="@Url.Action("DeleteCustomer", "Customer", null)" method="post">
   
    <div class="modal-body form-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FullName)
        Are you want to delete @Model.FullName?
    </div>

    @Html.Partial("_ModalFooter", new ModalFooter() { SubmitButtonText = "Delete" })

</form>

