﻿@model CustomerManagment.Domain.Customer
@using CustomerManagment.Web.MVC.Models

<form action="@Url.Action("EditCustomer", "Customer", null)" method="post">
    <div class="modal-body form-horizontal">
        <div class="row">
            <div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.LabelFor(model => model.Name, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.Surname)
                        </div>
                        @Html.EditorFor(model => model.Surname, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StreetNumber, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.StreetNumber)
                        </div>
                        @Html.EditorFor(model => model.StreetNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StreetName, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.StreetName)
                        </div>
                        @Html.EditorFor(model => model.StreetName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.PostalCode)
                        </div>
                        @Html.EditorFor(model => model.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                        @Html.EditorFor(model => model.City, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter());

</form>

